<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="enteredGoalValue" />
      <button @click="addGoal">Add Goal</button>
      <p v-if="goals.length===0" >No goals have been added yet - please start adding some!</p>
      <!-- v-show는 화면에서 단순하게 안보이게 함, 성능이 좋음, 하지만 DOM 에서 필요하지 않은 요소를 남길 여지가 있음-->
      <!-- <p v-show="goals.length===0" >No goals have been added yet - please start adding some!</p> -->
      <ul v-else>
        <!-- v-for 두번째 인자로 배열은 index, 객체는 key, index 사용가능 -->
        <li v-for="(goal, index) in goals" :key="goal" @click="removeGoal(index)">
          <p>{{goal}} - {{index}}</p>
          <input type="text" @click.stop>
        </li>
      </ul>
      <!--
      <ul>
        <li v-for="num in 10">{{num}}</li>
      </ul>
      -->
      <!--
      <ul>
        <li v-for="(value, key, index) in {name: 'Yoon', age: 20}">{{key}}: {{value}} - {{index}}</li>
      </ul>
      -->
    </section>
  </body>
</html>
